# Don't copy dependencies

node_modules

# Git files

.git
.gitignore

# Build output (if exists locally)

build

# Docker files

Dockerfile\*
docker-compose\*.yaml

# Logs

\*.log

# Env files (optional — if you want to inject via environment instead)
#Recommended to include it in this file
.env
.env.*

# IDE/editor settings

.vscode
.idea

# OS metadata

.DS_Store
Thumbs.db
